<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="app-title"><a href="/">The Tech Blog</a></h1>

    
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>

      <a class="navbar-item" href="/dashboard">
        Dashboard
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            About
          </a>
          <a class="navbar-item">
            Jobs
          </a>
          <a class="navbar-item">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary" href="/login">
            <strong>Login</strong>
          </a>
          <a class="button is-light" href="#" id="logout-link">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
    <header class="hero">
        <h1 class="app-title"><a href="/">The Tech Blog</a></h1>
    </header>

    <main class="col-auto">
        {{{body}}}
    </main>

    <footer class="flex-row justify-center">
        &copy; The Tech Blog Folks
    </footer>
</body>

</html>
<script src="/js/logout.js"></script>